html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-type:none;
	list-style-position:inside ;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
	box-sizing:border-box;
}

:root{
	--border-radius-1:5px;
	--border-radius-2:10px;
}
.wrap{
	max-width:1200px;
	height:750px;
	border:0.3px solid #909090;
	margin:auto;
    background-image:linear-gradient(45deg, #d6aacb, #fefada, #c9ab76);
}
.banner{
	width:1200px;
	height:200px;
	background-image:url('./images/1200X200-8.png') ;
}
.menu-bar{
	max-width:1200px;
	height:30px;
	background-color: rgb(219, 209, 196);
	display:flex;
	justify-content: center;
}
.menu-bar .nav{
	width:493px;
	height:30px;
	display:flex;
	text-align: center;
	background-color: #898260;
	box-sizing: border-box;
	border-radius: var(--border-radius-1);
	position:relative;
}
.nav .li{
	background-color: #f6cbcb;
	width:84px;
	height:24px;
	line-height:24px;
	margin:3px 7px;
	border-radius: var(--border-radius-1);
	box-shadow: 0 0 2px 1.5px #fff;
	cursor: pointer;
}
.nav .li a:hover{
	color:#ffff00;
}
.ul1{
    position:absolute;
	top:40px;
	left:1px;
	width:90px;
	height:auto;
	background-image:linear-gradient(45deg, #d6aacb,
		#f9f1b2);
	 display:none;
}
.ul2{
	position: absolute;
	top: 40px;
	left: 100px;
	width: 90px;
	height: auto;
	background-image: linear-gradient(45deg, #d6aacb,
			#f9f1b2);
	display:none;
}
/*.ul3不能有上一層:li .ul3,這樣不成*/
.ul3{
	position: absolute;
	top: 40px;
	left:195px;
	width:100px;
	height: auto;
	background-image: linear-gradient(45deg, #d6aacb,
			#f9f1b2);
	display: none; 
}
.hide,
.hide1,
.hide2 {
	display: block;
}
.li li{
	border-bottom: 0.5px solid #fff;
	text-align: left;
	padding:5px;
	list-style-type: circle;
	list-style-position: inside;
	cursor: pointer;
}
.li li a{
	text-decoration: none;
	color:#00000080;
}
